*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-header{
	position: sticky;
	z-index: 4;
	top: 0px;
}

.portada{
    display: flex;
    height: 450px;
    background-image: url(./assets/img/huella2.jpg);
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.portada-texto h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
    line-height: 100%;
    margin-top: 200px;
}

.portada-texto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(192, 165, 107);
    line-height: 90%;
}



.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container img{
    display: flex;
    height: 120px;
    margin-right: 30px;
    margin-top: 30px;
    line-height: 75px;
    border-radius: 12px;
}

.flex-container p{
    display: flex;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    text-align:justify;
    color: dimgray;
    line-height: normal;
    align-items: center;
    width: 300px;
    height: 100px;
    border: black solid 0px;
    align-self: center;
}

.flex-container h6{
    color: dimgrey;
}

.flex-container h3{
    font-size: 25px;
    margin: 0 0 0px;
}





html{
    scroll-behavior: smooth;
}





.card-body h5{
    color: dimgray;
}

.card-body p{
    color: dimgray;
    line-height: 18px;
}


.container h3{
    text-align: center;
    margin: 30px;
}







.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white ;
    padding: 10px;
}

.texto{
    display: flex;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    text-align:justify;
    color: dimgray;
    line-height: normal;
    align-items: center;
    width: 400px;
    height: 100px;
    border: black solid 1px;
    padding: 25px;
    margin: 10px;
}



.flex-container-formacion{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.Encabezados{
    text-align: center;
    margin-top: 30px;
    margin-bottom: -30px;
    color: rgb(97, 3, 184);
}

.texto-formacion{
    width: 250px;
    height: 170px;
    background-color: rgb(225, 224, 226);
    border-radius: 4px;
    text-align: left;
    margin: 10px;
    padding-left: 30px;
    padding-right: 10px; 
}

.texto-formacion h5{
    color: rgb(122, 122, 122);
    margin-top: 15px;
    line-height: 23px;
}

.texto-formacion p{
    color: rgb(122, 122, 122);
    font-size: 14px;
    line-height: 20px;
}






.flex-container-habilidad{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color:rgb(97, 3, 184);
    margin-top: 65px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

}

.icon{
    width: 385px;
    height: 130px;
    justify-content: center;
    align-items: center;
    line-height: 125px;
    text-align: center;
    
}



.flex-container-experiencia{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.texto-experiencia{
    width: 250px;
    height: 170px;
    background-color: rgb(225, 224, 226);
    border-radius: 4px;
    text-align: left;
    margin: 10px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    border: black solid px;
}

.texto-experiencia h5{
    color: rgb(122, 122, 122);
    margin-top: 15px;
    line-height: 23px;
}

.texto-experiencia p{
    color: rgb(122, 122, 122);
    font-size: 14px;
    line-height:15px;
}







.flex-container-portafolio{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}


.texto-portafolio h5{
    color: rgb(122, 122, 122);
    margin-top: 0px;
    align-content: flex-end;
    text-align: center;
}

.texto-portafolio p{
    color: rgb(122, 122, 122);
    font-size: 14px;
    line-height:0px;
    align-content: flex-end;
    text-align: center;
    margin-bottom: 30px;
    line-height: 6px;
}

.texto-portafolio img{
    width: 250px;
    height: 300px;
    border: black solid px;
    object-fit: cover;
    border: rgb(197, 197, 197) solid 0px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}



.formulario{
    background-color: #232a31;
}


.relleno{
    display: flex;
    justify-content: center;
    width: 98%;
    border-radius: 4px;
    margin: 5px;
    border: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 8px;
}

.relleno-mensaje{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    border-radius: 4px;
    margin: 5px;
    border: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 8px;
    text-align: left;
}

.boton{
    border-radius: 4px;
    margin: 5px;
    border: none;
    width: 100px;
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 60px;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 8vmax;
}
