*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*NAVBAR*/

.custom-header{
	position: sticky;
	z-index: 4;
	top: 0px;
}

.portada{
    display: flex;
    height: 450px;
    background-image: url(./assets/img/huella2.jpg);
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.portada-texto h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
    line-height: 100%;
    margin-top: 200px;
}

.portada-texto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(192, 165, 107);
    line-height: 90%;
}

/*NAVBAR FIN*/




/*TARJETA DISEÑADOR*/

.flex-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    width: 80%;
}

.flex-container img{
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 6px;
    border-color: rgb(228, 226, 231);
    margin-top: 30px;
}

.flex-container h6{
    margin-top: -5px;
}

.texto{
    display: flex;
    text-align: justify;
    align-content: center;
    margin-top: 5px;
    line-height: normal;
    color: rgb(122, 122, 122);
    
}

/*TARJETA DISEÑADOR FIN*/




/*TARJETA FORMACION*/

.flex-container-formacion{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.Encabezados{
    text-align: center;
    margin-top: 30px;
    margin-bottom: -30px;
    color: rgb(97, 3, 184);
}

.texto-formacion{
    width: 250px;
    height: 170px;
    background-color: rgb(225, 224, 226);
    border-radius: 4px;
    text-align: left;
    margin: 10px;
    padding-left: 30px;
    padding-right: 10px; 
}

.texto-formacion h5{
    color: rgb(122, 122, 122);
    margin-top: 15px;
    line-height: 23px;
}

.texto-formacion p{
    color: rgb(122, 122, 122);
    font-size: 14px;
    line-height: 20px;
}

/*TARJETA FORMACION FIN*/




/*TARJETA HABILIDAD*/

.flex-container-habilidad{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color:rgb(97, 3, 184);
    margin-top: 65px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    height: 170px;

}

.icon{
    display: flex;
    width: 385px;
    height: 70px;
    justify-content: center;
    align-items: center;
    line-height: 63px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

/*TARJETA HABILIDAD FIN*/




/*TARJETA EXPERIENCIA*/

.flex-container-experiencia{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.texto-experiencia{
    width: 250px;
    height: 170px;
    background-color: rgb(225, 224, 226);
    border-radius: 4px;
    text-align: left;
    margin: 10px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    border: black solid px;
}

.texto-experiencia h5{
    color: rgb(122, 122, 122);
    margin-top: 15px;
    line-height: 23px;
}

.texto-experiencia p{
    color: rgb(122, 122, 122);
    font-size: 14px;
    line-height:15px;
}

/*TARJETA EXPERIENCIA FIN*/




/*TARJETA PORTAFOLIO*/

.flex-container-portafolio{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.texto-portafolio h5{
    color: rgb(122, 122, 122);
    margin-top: 0px;
    align-content: flex-end;
    text-align: center;
}

.texto-portafolio p{
    color: rgb(122, 122, 122);
    font-size: 14px;
    line-height:0px;
    align-content: flex-end;
    text-align: center;
    margin-bottom: 30px;
    line-height: 6px;
}

.texto-portafolio img{
    width: 250px;
    height: 300px;
    border: black solid px;
    object-fit: cover;
    border: rgb(197, 197, 197) solid 0px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

/*TARJETA PORTAFOLIO FIN*/




/*FORMULARIO*/

.formulario{
    background-color: rgb(33, 37, 41);
    width: 100%;
    height: 360px;
    padding: 20px;
    margin-top: 50px;
}

.formulario h5{
    color: white;
    text-align: center;
}

.formulario p{
    display: inline-block;
    color: rgb(192, 165, 107);
    margin: 0px 5px 5px 5px;
    line-height: 6px;
    padding: 3px;
}

.relleno{
    width: 80%;
    padding: 5px;
    margin:6px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.boton{
    background-color:rgb(97, 3, 184);
    color: white;
    border: none;
    padding: 5px;
    margin: 5px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.formulario a{
    text-decoration: none;
    padding: 6px;
    margin: 20px;
    background-color: dimgrey;
    background-color:rgb(97, 3, 184);
    color: white;
}

.boton:hover{
    background-color: rgb(140, 65, 209);
}

.formulario a:hover{
    background-color: rgb(140, 65, 209);
    color: white;
}

input, textarea{
    background-color: rgb(170, 169, 169);
}

:focus{
    outline: 1px solid rgb(97, 3, 184);
}

/*FORMULARIO FIN*/



/*FOOTER*/

.footer p{
    background-color: rgb(13, 13, 14);
    color: dimgrey;
    text-align: center;
    height: 60px;
    padding: 10px;
    margin-bottom: 0px;
}

/*FOOTER FIN*/

html{
    scroll-behavior: smooth;
    scroll-padding: 8vmax;
}
